[submodule "third_party/dl_fault_repo"]
	path = third_party/dl_fault_repo
	url = git@git5.cs.fau.de:dpui/projects/coordinated-power-network-protection-based-on-machine-learning-techniques/dl-fault-classification-power-grid.git
